.despacho_item{
    margin-bottom: 0.6rem;
    border: 2px solid #BFBFBF;
    border-image-slice: unset;
    border-radius: 20px;
    margin: 10px;
    width: 92%;
    background-color: white;
    box-shadow: 10px 10px 8px #aaaaaa;
  
    h5{
        margin-bottom: 10px;
        font-weight: 500;
    }
  
    ion-icon {
      color: white;
      font: icon;
      float:left;
    }
  
    ion-grid{
      padding: 0;
    }
  }
  
  .card_background {
    background-color: red;
  }
  
  .targetheader{
    background-color: rgb(137, 192, 29);
    justify-content: space-around;
    border-radius: 5px;
  
    ion-icon {
      margin: 0.1rem;
    }
  
    ion-col {
      color: white;
      text-align: center;
      margin-top: 0.3rem;
    }
  }
  
  .targetbody{
    background: whaite;
  }
  
  .targetfooter{
    background-color: var(--ion-color-myblue);
    justify-content: space-around;
    padding: 10px;
    border-radius: 5px;
    --ion-button{
      align-items: none;
    }
  }

  .icon-alarma{
    display: block;
    margin: auto;
  }