<ion-header>
  <ion-toolbar color='myblue'>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Inspección de Recolección</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <dx-accordion
    #accordion
    [dataSource]="dsCriteriosInspeccion"
    [collapsible]="true"
    [multiple]="true"
    [selectedIndex]="-1"
    [focusStateEnabled]="true"
    [animationDuration]="300"
    id="accordion-container"
  >
    <div *dxTemplate="let data of 'title'">
      <h1>{{ data.Sistema }}</h1>
    </div>
    <div *dxTemplate="let data of 'item'">

      <div *ngFor="let criterio of data.Criterios">
        {{criterio.Descripcion}}
        <dx-radio-group
          [items]="criterio.calificacionItem"
          [valueExpr]="'value'"
          [value]="criterio.Valor"
          layout="horizontal"
          
        >
        </dx-radio-group>
      </div>
    </div>
  </dx-accordion>
</ion-content>